aiohttp==3.5.1
appdirs==1.4.3
argh==0.26.2
async-timeout==3.0.1
attrs==18.2.0
Babel==2.9.1
beautifulsoup4==4.7.1
cached-property==1.5.1
certifi==2018.8.24
cffi==1.15.1
chardet==3.0.4
click==8.1.3
cryptography==38.0.3
decorator==4.3.0
defusedxml==0.5.0
dnspython==2.2.1
docutils==0.14
email-validator==1.3.0
erpbrasil.assinatura==1.5.0
erpbrasil.base==2.2.3
erpbrasil.edoc==2.2.1
erpbrasil.edoc.pdf==1.0.2
erpbrasil.transmissao==1.0.0
freezegun==0.3.11
Genshi==0.7.7
gevent==1.3.7
greenlet==0.4.15
idna==2.6
importlib-metadata==5.0.0
isodate==0.6.0
Jinja2==2.10
libsass==0.17.0
lxml==4.9.1
Mako==1.2.2
MarkupSafe==1.1.0
mock==2.0.0
multidict==4.5.2
nfelib==1.3.0
num2words==0.5.6
ofxparse==0.19
passlib==1.7.1
pathtools==0.1.2
pbr==4.2.0
pdfminer.six==20181108
phonenumbers==8.9.10
Pillow==9.3.0
polib==1.1.0
psutil==5.6.6
psycopg2==2.7.7
py3o.template==0.10.0
pyasn1==0.4.2
pyasn1-modules==0.2.1
pycep-correios==5.1.0
pycparser==2.21
pydot==1.4.1
pyjon.utils==0.7
pyOpenSSL==22.1.0
pyparsing==2.2.0
PyPDF2==1.26.0
pyserial==3.4
python-dateutil==2.7.3
python-ldap==3.1.0
python-slugify==2.0.1
python-stdnum==1.10
pytz==2019.1
pyusb==1.0.2
PyYAML==3.13
qrcode==6.1
reportlab==3.5.55
requests==2.21.0
requests-toolbelt==0.8.0
roman==2.0.0
sh==1.14.3
signxml==3.0.0
six==1.12.0
sortedcontainers==2.0.4
soupsieve==1.8
typing_extensions==4.4.0
Unidecode==1.0.23
urllib3==1.24.1
vobject==0.9.6.1
watchdog==0.9.0
Werkzeug==0.14.1
xlrd==1.1.0
XlsxWriter==1.1.2
xlwt==1.3.0
xmldiff==2.4
yarl==1.3.0
zeep==3.2.0
zipp==3.10.0
